{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar color-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <div class="page-width">
                <p class="announcement-bar__message {{ block.settings.text_alignment }} h5">
                  {{ block.settings.text | escape }}
                  {%- if block.settings.link != blank -%}
                    {% render 'icon-arrow' %}
                  {%- endif -%}
                </p>
              </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}


  {%- comment -%} Add contact to announcement | Added by Dustin @shopify on Dec. 11, 2022 {%- endcomment -%}

  {% assign saturday_hours =  settings.saturday_hours | split: "-" %}
  {% assign saturday_start_time  =  saturday_hours[0]  | times: 1 %}
  {% assign saturday_end_time  =  saturday_hours[1]  | times: 1 %}

  {% assign sunday_hours =  settings.sunday_hours | split: "-" %}
  {% assign sunday_start_time  =  sunday_hours[0]  | times: 1 %}
  {% assign sunday_end_time  =  sunday_hours[1] | times: 1 %}
  
  {% assign monday_hours =  settings.monday_hours | split: "-" %}
  {% assign monday_start_time  =  monday_hours[0]  | times: 1 %}
  {% assign monday_end_time  =  monday_hours[1]  | times: 1 %}

  {%- comment -%} Hide announcement bar when sunday exists | Added by Dustin @shopify on Jun. 10, 2023 {%- endcomment -%}
     {%- if settings.sunday -%}
      <style>
        .announcement-bar__message{
          display:none;
        }
        .announcement-bar{
          height:20px;
        }
      </style>
    {%- endif -%}
        
      <div class="mobile-custom-data">
        <a class="telephone-link" href="tel:{{ settings.phone_number }}">
          {{ settings.phone_number }}
        </a>
        <div class="hours">
          <table>
            <tr><td>
            {% if settings.monday %}Mon-Fri {{ monday_start_time }}-{{ monday_end_time }}{% endif %}
            {% if settings.saturday %} || Sat {{ saturday_start_time }}-{{ saturday_end_time }}{% endif %}
            {% if settings.sunday %} || Sun {{ sunday_start_time }}-{{ sunday_end_time }}{% endif %}
            </td></tr>                       
          </table>                      
        </div>
      </div>                    
        {%- comment -%} @MC:EOL | Dustin @shopify on Dec. 11, 2022 {%- endcomment -%}

        
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
